 ITCP239 Programming Language - Design and Implementation REACT Native Mobile app
 
 mp1 Product/service CRUD 20 pts
    Product/service CRUD. upload a photo or use a camera. - TAPOS NA
 
 mp2 User functions 20pts 
    user login/registration, update user profile. upload or take a photo. 15pts - TAPOS NA
    google/facebook login, 20pts - DI PA TAPOS
 
 mp3 Review Ratings 20 pts
    users can leave a review/rating on verified purchased products/services. - TAPOS NA
    users can update their own reviews/ratings. - TAPOS NA

mp4 SQLite Cart 
   save cart contents on asyncsorage or secure storage before checkout. get items when app is opened. delete contents after checkout. 12pts - TAPOS NA
   save cart contents on SQLite before checkout. get items when app is opened and delete contents after checkout. 20 - tinamad pa

 term test transaction 35pts
    completed transaction. 10pts - TAPOS NA
    update status of transaction. 5pts - TAPOS NA
    send a push notification after the update. 10pts - TAPOS NA
    click on the notification to view the order details 10pts - TAPOS NA

quiz 1 search/filters 15pts
    search function. filter products/service search results by price range 10pts - TAPOS NA
    search function. filter products/service search results by category and price range 15pts - TAPOS NA

quiz 2 notifications 
    send push notifications about product promotions/discount. 10pts - TAPOS NA, sent upon login, sent by the admin
     view the details of the notification. 5pts - TAPOS NA

quiz 3 apply REDUX on  order, product, and review functions 15pts - TAPOS NA

unit 1 user interface (with drawer) design 20pts - TAPOS NA

unit 2 node backend functions, jwt tokens stored on SQLite or expo secure store.
    notification push token saved on user model. update/remove stale tokens 20pts - TAPOS NA

Term Test Lec. 
    App complexity and added features 10pts. - manage reviews, sales analytics screen
    program contribution 10pts


full credit will be given if you answer correctly. 
a deduction of two points will be applied on all machine problems for each unexcused absence.
be on time.
if you have a term test on other subjects that coincide with the time of the project presentation, take the exam first then come back later for the presentation.